<% provide(:title, "Home") %>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="pt-md-5 px-md-5 text-center">
                <div class="my-3 p-3">
                    <h2 class="display-5">Welcome</h2>
                    <p class="lead">subheader</p>
                </div>
                <div class="my-3 p-3">
                    <p>This is text for the product page This is text for the product page This is text for the product page This is text for the product page This is text for the product page</p>
                </div>
                <div class="my-3 p-3">
                    <button type="button" class="btn btn-dark">Button</button>
                    <button type="button" class="btn btn-light">Button</button>
                </div>
            </div>
        </div>    
        <div class="col">
            <div class="pt-md-5 px-md-5 text-center">
                <div class="my-3 p-3">
                    <img src="" class="img-fluid" alt="This is an image">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col align-self-center pt-md-5 px-md-5 text-center">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Scooters</h2>
                        <p class="lead">subheader</p>
                    </div>                
                </div>
            </div>
            <div class="row">
                <% @products.each do |product| %>
                    <div class="col">
                        <div class="card text-center h-100" style="width: 18rem;">
                            <%# <img src="..." class="card-img-top" alt="Image Scooter"> %>
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" 
                            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#868e96"></rect>
                            </svg>    
                                <div class="card-body">
                                <h5 class="card-title"><%= product.title %></h5>
                                <p class="card-text limit-text-home text-left"><%= product.description %></p>
                                <%= link_to 'Show', product, class: 'btn btn-dark' %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col align-self-center pt-md-5 px-md-5 text-center">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Accessories</h2>
                        <p class="lead">subheader accessories</p>
                    </div>                
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="border-accessories">
                        <img src="" class="img-fluid" alt="This is an image">
                        <h3 class="display-5">Accessories A</h3>
                        <p class="lead">description Accessories</p>
                         <button type="button" class="btn btn-dark mb-3">Button</button>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="border-accessories">
                        <img src="" class="img-fluid" alt="This is an image">
                        <h3 class="display-5">Accessories B</h3>
                        <p class="lead">description Accessories</p>
                         <button type="button" class="btn btn-dark mb-3">Button</button>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="border-accessories">
                        <img src="" class="img-fluid" alt="This is an image">
                        <h3 class="display-5">Accessories C</h3>
                        <p class="lead">description Accessories</p>
                         <button type="button" class="btn btn-dark mb-3">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

