  <% provide(:title, "Thank You") %>
  <div class="container">
      <section class="my-5">
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <h1 class="display-4">Payment successful!</h1>
              <p class="lead">Thank you so much for your purchase.</p>
              <%= link_to "Retrun to home", "/" %>
          </div>
      </div>
      </section>
  </div>
