/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// to import bootstrap
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


footer {
   padding-left: 50px;
   background-color: #f0f1f3;
   color: #2c2c2c;
}



.border-accessories {
   border: 2px solid #8080804a;
   border-radius: 10px;
}

.form-signin {
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: auto;
}

.form-signin .form-control {
   position: relative;
   box-sizing: border-box;
   height: auto;
   padding: 10px;
   font-size: 16px;
}

.form-signin input[type="email"] {
   margin-bottom: -1px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.footer-social li {   
   display:inline-block;   
}

.limit-text-home {  
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      -webkit-box-orient: vertical;  
}

.limit-text-products {  
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;  
}

.map-container-section {
   overflow:hidden;
   padding-bottom:56.25%;
   position:relative;
   height:0;
 }
 .map-container-section iframe {
   left:0;
   top:0;
   height:100%;
   width:100%;
   position:absolute;
 }

 .md-form {
    padding-bottom: 15px;
    padding-top: 15px;
 }

 .md-textarea {
    height: 200px;
 }

 .grey-color-section {
    background-color: #aeb1b8;
    color: #fff;
    font-size: 32px;
 }
 
 .home-section-box {
    width: 100%;
 }

 .home-section-say-header {
   padding: 20px;
   margin-left: 10px;
   margin-right: 10px;
 }

 .main-picture {
    background-image: url(/assets/homemain.jpg);
    background-size: cover;
 }

 .home-main-btn {
    width: 100%;
    padding-bottom: 30px;
 }

 .home-main-header {
    color: #fff;
    font-size: 65px;
    padding: 20px;
 }



 @media screen and (min-width: 1024px) {
   .home-section-height {
      height: 400px;   
    }
   
    .line-home-section {
      line-height: 400px;
    }
   
    .home-section-box {
       width: 50%;
    }

    .home-section-say-header {
       width: 100%;
    }

    .home-section-say-message {
      width: 33%;
      display:inline-block
   }

   footer {
      padding-left: 0px;
   }

   .float-right {
      float: right;
   }
  
   
   .float-left {
     float: left;
  }

  .home-section-one h2 {
   font-size: 2em;
   font-weight: 700;
   letter-spacing: 0.075em;
  }

  .home-section-one p {
   font-size: 1.11765em
  }

  .home-section-two p {
   padding-left: 418px;
   padding-right: 162px;
   font-size: 1.11765em
  }

  .home-section-two h2 {
   padding-left: 418px;
   font-size: 2em;
   font-weight: 700;
   letter-spacing: 0.075em;
  }
 }
 